# Secrets
Secrets.swift

# Xcode
*.xcuserstate
*.xcuserdatad
xcuserdata/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/
